@*@{
        var recoverMessage = TempData["recovermessage"] as string;
    }*@



<div class="container my-5">
    <br />
    <br />


    <div class="form-group">
        <label for="InputPassword">Enter New Password</label>
        <input type="email" class="form-control" id="InputPassword" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label for="InputCPassword">Re Enter Password</label>
        <input type="password" class="form-control" id="InputCPassword">
    </div>
    <button class="btn btn-success" onclick="btnRecover()">Submit</button>

    @if (TempData["recovermessage"] != null)
    {

        string mymessage = TempData["recovermessage"].ToString();

        //string[] parts = mymessage.Split('/');
        //string a = parts[0];
        //string b = parts[1];

        <input type="hidden" id="recoverMessageId" value="@mymessage" />
        
    }



</div>

@section Scripts {
    @Scripts.Render("~/bundles/ProductDataTransfer")
}



